body {
	 text-align:center;
	 font-size:14px;
	 font-family:Arial, Helvetica, sans-serif;
	 background:#fafbff;	 
}
#geral{
	width:990px;
	background-color:#fff;
    margin: 5px 0 5px 20%;
    padding:5px;
	font-family:Arial, Helvetica, sans-serif;
	-moz-box-shadow:0px 3px 15px 0px #CCC;
	-webkit-box-shadow:0px 0px 25px 5px #CCC;
	border-radius:10px;
	border:1px solid #ccc;
}

#geral #topo{
	height:180px;
	border-radius:5px;   
	background:#1E90FF;
	margin:0 0 5px 0;
}

#geral #topo   img{margin:5px 0 5px 20px; float:left;border:0px;}

#geral #topo .slogan{
	float:left;
	color:#B22222;
	font-weight: bold;
	text-align:center;
	background:#1E90FF;
	font-family: Georgia,Helvetica, Arial;
	margin-left:40px;margin-top:30px;
	border:px solid #c0c0c0;
	border-radius:5px;	
}

#geral #topo .slogan .mf{
	font-size:70px;
	font-style:italic;
	color:#B22222;
}

#geral #topo  .contato{
	float:right;
	margin:10px  15px 0 0 ;
	padding:0 10px 0 0;
	font-family: Georgia,Helvetica, Arial;
}
#geral #topo  .busca{
	float:right;
	margin:-100px  0px 0px 0px ;
}


#geral #topo  .contato p{
	font-size: 10px;
	font-weight: bold;
	font-style:italic;
	text-align:right;
	color:#2a5740;
}
#geral #topo .contato p a{
	color:#2a5740;
	text-decoration:none;
}
#geral #topo .contato p a:hover{
	color:#8B0000;
	font-size:100%;
}

#geral #topo #divBusca{
    float:left;
    margin-left: 200px;
  background-color:#FFFFFF;
  border:solid 1px;
  border-radius:15px;
  width:300px;
    
}

#geral #topo #divBusca #txtBusca{
  float:left;
  background-color:#FFFFFF;
  padding-left:5px;
  font-style:italic;
  font-size:18px;
  border:none;
  height:52px;
  width:300px;
    
}
#geral #topo #carrinho {
    font-family:Arial, Helvetica, sans-serif;
	margin:0 0 5px 0;
	font-weight: bold;
	font-size:14px;
	margin-top:105px;
	background:#1E90FF;
	border:0px;
}

#geral #topo #carrinho ul{
	height:20px;
	margin:2px auto;
	padding:10px 0 10px 15px;
    background:#1E90FF;
	list-style:none;
	border:0px;
    
    
}
#geral #topo #carrinho ul li{	position:relative;float:left;padding:0 0 0 0px;}

#geral #topo #carrinho ul li a{
	display:block;
	text-decoration:none;
	font-weight: bold;
	padding: 10px;
	float: left;
	background:#1E90FF;
	color: #FFFFFF;
	
}

#geral #topo #carrinho img{
	margin-top:-10px;
	
}
#geral #topo #divBusca img{
  float:right;
  margin-top:-40px;
    
}

#geral #menu{
	font-family:Arial, Helvetica, sans-serif;
	margin:0 0 5px 0;
	font-weight: bold;
	font-size:14px;
}

#geral #menu ul{
	height:20px;
	margin:2px auto;
	padding:10px 0 10px 15px;
	background:#8B0000;
	list-style:none;
	/*border-top-left-radius:2px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:2px;*/
	border-radius:3px;
	-moz-box-shadow:0px 3px 5px 0px #8B0000;
	-webkit-box-shadow:0px 3px 5px 0px #8B0000;
}

#geral #menu ul li{	position:relative;float:left;padding:0 0 0 0px;}
	
#geral #menu ul li a{
	display:block;
	text-decoration:none;
	color:#fff;
	
}

#geral #menu ul li a:hover{
	-moz-box-shadow:0px 3px 10px 0px #ccc;
	-webkit-box-shadow:0px 3px 10px 0px #ccc;
	text-decoration:none;
	color:#8B0000;
	font-size:100%;
	background:#FFF;
	border-radius:3px;
}

#geral #menu ul li ul{
	position:absolute;
	top:25px;
	left:5px;
	width:140px;
	height:auto;
	display:none;
	border-radius:5px;
	padding:0px;
}

#geral #menu ul li:hover ul,	.menu.over ul{display:block;}

#geral #menu ul li ul li{	display:block;}

#geral #menu ul li a:link{
	display:block;
	text-decoration:none;
	padding:5px 20px;
}
#geral #menu ul li  ul li a:link{
	display:block;
	text-decoration:none;
	padding:5px 20px 10px 5px;
	width:115px;
	text-align:left;
}
	
#geral #menu ul li a:active{text-decoration:none;background-color:red;}

#geral #menu ul li a:visited{text-decoration:none;}



#geral #conteudo {
	border:px solid #CCC;
	border-radius:5px;
	float:left;
	width:100%;
	height:600px;
}
#geral  #conteudo  #destaques{
	margin:2px;	
	float:left;
}
#geral  #conteudo  #destaques  .texto{
	padding:5px;
	margin:0 0 0 100px;
	font-size:16px;
	text-align:left;
	font-weight: bold;
	color:#8B0000;
	font-family:Arial, Helvetica, sans-serif;
}

#geral #conteudo .destaques{
	border-bottom:1px solid #c0c0c0;
	//background:#FFF;
	margin:5px 10px 10px 5px;
}

#geral #conteudo .destaques .imagemLado{float:left;margin:50px 20px 0 5px;}

#geral #conteudo .destaques .imoveis{	
	padding:5px;
	font-size:16px;
	font-weight: bold;
	color:#8B0000;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
}

#geral #conteudo .destaques #carrosel ul{list-style:none;}

#geral #conteudo .destaques #carrosel ul li{
	float:left;
	display:inline;
	padding:5px 5px 15px 5px;
	
}

#geral #conteudo .destaques #carrosel ul li img {	border-radius:5px;}

#geral #conteudo .destaques #carrosel, #carrosel1, #carrosel2 .info {	
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight: bold;
	color: #4F4F4F;
	text-align:left;
}

#geral #conteudo .destaques #carrosel1 ul{list-style:none;}

#geral #conteudo .destaques #carrosel1 ul li{
	float:left;
	display:inline;
	padding:5px;	
}

#geral #conteudo .destaques #carrosel1 ul li img {border-radius: 	5px;}

#geral #conteudo .destaques #carrosel2 ul{list-style:none;}

#geral #conteudo .destaques #carrosel2 ul li{
	float:left;
	display:inline;
	padding:5px;
}

#geral #conteudo .destaques #carrosel2 ul li img {border:1px solid #ccc;border-radius:5px;}

#geral #conteudo .destaques .imagemLadoDireito{float:right;margin: 50px 5px 0 0;}


#geral #rodape {
	font-family:Arial, Helvetica, sans-serif;
	padding:5px 0 0 0;
	clear:both;
	margin:0px 0 5px 0;
}
#geral #rodape #mapaSite{	
	height:140px;
	margin:0;
	border:1px solid #CCC;
	border-radius:5px;
	background:#fafbff;
}

#geral #rodape #mapaSite .mapa{	
	padding:5px 0 0 15px;
	margin:5px;
	float:left;
}

#geral #rodape #mapaSite .mapa h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#8B0000;
	font-weight: bold;
}
#geral #rodape #mapaSite .mapa h1 a{
	text-decoration:none;
	color:#8B0000;
	}
#geral #rodape #mapaSite .mapa h1 a:hover{
	-moz-box-shadow:0px 3px 10px 0px #ccc;
	-webkit-box-shadow:0px 3px 10px 0px #ccc;	
	text-decoration:underline;
	font-size:100%;
	padding-left:1px;	 
}
#geral #rodape #mapaSite .mapa p a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#696969;
	text-decoration:none;
}
#geral #rodape #mapaSite .mapa p a:hover{
	-moz-box-shadow:0px 3px 10px 0px #ccc;
	-webkit-box-shadow:0px 3px 10px 0px #ccc;	
	text-decoration:underline;
	font-size:100%;
	padding-left:1px;	 
}
#geral .faixaRodape{
	
	padding:5px;	
	background:#8B0000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFF;
	border-radius:3px;
	text-align:center;
	margin:0px;
}
#geral .desenvolvido{
	font-size:8px;
	text-align:right;
	font-style:italic;
	font-weight:bold;
}
#imgDestaque img{
	width:650px;
	
}
#imgDestaque h1{
	padding:1px;	
	font-size:22px;
	text-align:center;
	font-weight: bold;	
	color:#B22222;
	font-family:Arial, Helvetica, sans-serif;
	
}
#pgCao h1{
	padding:1px;	
	font-size:22px;
	text-align:center;
	font-weight: bold;	
	color:#B22222;
	font-family:Arial, Helvetica, sans-serif;
	
}
#pgCao {
	border-radius:5px;
	background: #FFFFFF;
	
}
#pgCao img{
	width:100px;
	border-radius:5px;
	height: 150px;
	margin:5px;
}
#pgCao .seta img{
	width:50px;
}

#pgCao1 h1{
	padding:1px;	
	font-size:22px;
	text-align:center;
	font-weight: bold;	
	color:#B22222;
	font-family:Arial, Helvetica, sans-serif;
	
}
#pgCao1 {
	margin-top: 50px;
	border-radius:5px;
	background: #FFFFFF;
	
}
#pgCao1 img{
	width:100px;
	border-radius:5px;
	height: 150px;
	margin:5px;
}
#pgCao1 .seta img{
	width:50px;
}


#login h1{
	padding:1px;	
	font-size:22px;
	text-align:center;
	font-weight: bold;	
	color:#00000;
	font-family:Arial, Helvetica, sans-serif;
	
}
#login {
	margin-left: 120px;
	margin-top: 50px;
	background: #FFFFFF;
	width: 450px;
	height: 500px;
	border:2px solid #c0c0c0;
	border-radius:5px;
	margin-bottom: 430px;
}
#login form{
	padding:1px;	
	font-size:22px;
	text-align:center;
	font-weight: bold;	
	color:#00000;
	font-family:Arial, Helvetica, sans-serif;
	
}
#login form label{
	font-size:15px; 
	text-align:left;
	margin-left: -300px;
	margin-top: 10px;
}

#login form input{
	font-size:23px; 
	text-align:left;
	margin-left: -80px;
	margin-top: 10px;
}
#login form textarea{
	font-size:23px; 
	text-align:left;
	margin-left: -80px;
	margin-top: 10px;
	height: 100px;
	width: 300px;
}
#login form  .btnNovo{
	font-family:Arial, Helvetica, sans-serif;
	font-size:25;
	margin:20 20px 0 0px;
	background:#FFFFFF;
	width:310px;
	height: 50px;
	padding:5px;	
	color:#1E90FF;
	font-weight: bold;
	border-radius:5px;
	text-align:center;
}
#login form  .btnentrar{
	font-family:Arial, Helvetica, sans-serif;
	font-size:25px;
	text-align:center;
	margin:20 20px 0 0px;
	background:#1E90FF;
	width:310px;
	height: 50px;
	padding:5px;	
	color:white;
	font-weight: bold;
	border-radius:5px;
}
#car {
	margin-left: 5px;
	margin-top: 5px;
	background: #FFFFFF;
	width: 670px;
	height: 400px;
	border:2px solid #c0c0c0;
	border-radius:5px;
	margin-bottom: 430px;
	
}
#car h1{
	padding:5px;	
	font-size:22px;
	text-align:left;
	font-weight: bold;	
	color:#1E90FF;
	font-family:Arial, Helvetica, sans-serif;
	
}
#car h2{
	padding:0px;	
	font-size:15px;
	text-align:left;
	font-weight: bold;	
	color:#00000;
	font-family:Arial, Helvetica, sans-serif;
	
}
#car img{
	padding:5px;	
	margin-left: 0px;
	float:left;
	
}
#car .t1 {
	width: 20px;
	margin-top: 10px;
	margin-left: -450px;
	margin-bottom: 15px;
	
}
#car .b1  {
	font-family:Arial, Helvetica, sans-serif;
	font-size:25px;
	text-align:center;
	margin:20 20px 0 0px;
	background:#1E90FF;
	width:310px;
	height: 50px;
	padding:5px;	
	color:white;
	font-weight: bold;
	border-radius:5px;
	
}
#car .b2  {
	font-family:Arial, Helvetica, sans-serif;
	font-size:25px;
	text-align:center;
	margin-left: 160px;
	margin-top: 5px;
	background:green;
	width:310px;
	height: 50px;
	padding:5px;	
	color:white;
	font-weight: bold;
	border-radius:5px;
	
}
#usuario{
	margin-left: 5px;
	margin-top: 5px;
	background: #FFFFFF;
	width: 670px;
	height: 400px;
	border:2px solid #c0c0c0;
	border-radius:5px;
	margin-bottom: 430px;
	
}
#usuario h1{
	padding:5px;	
	font-size:22px;
	text-align:left;
	font-weight: bold;	
	color:#1E90FF;
	font-family:Arial, Helvetica, sans-serif;
	
}

#usuario form input{
	margin-bottom:5px;
	
}
#usuario form label{
	margin-left:-100px;
	
}

#usuario .campoObg{
	padding:5px;	
	font-size:18px;
	text-align:left;
	font-weight: bold;	
	color:#A52A2A;
	font-family:Arial, Helvetica, sans-serif;
	
}	
#usuario .bairro{
	margin-left:-100px;	
	font-size:15px;
	
}	
	
#usuario .cpf{
	margin-left:0px;	
	font-size:15px;
	
}
#usuario .rg{
	margin-left:-160px;	
	font-size:15px;
	
}
#usuario .fone{
	margin-left:0px;	
	font-size:15px;
	
}
#usuario .mail{
	margin-left:-100px;
	
}
#usuario .cid{
	margin-left:5px;
	
}

#usuario .uf{
	margin-left:5px;
	
}
#usuario .date{
	margin-left:-100px;
	
}
#usuario .login{
	margin-left:5px;
	
}
#usuario .senha{
	margin-left:5px;
	
}
#usuario .btncad  {
	font-family:Arial, Helvetica, sans-serif;
	font-size:25px;
	text-align:center;
	float:left;
	background:#1E90FF;
	width:310px;
	height: 50px;
	padding:5px;	
	color:white;
	font-weight: bold;
	border-radius:5px;
	
}
#usuario .btnsair{
	font-family:Arial, Helvetica, sans-serif;
	font-size:25px;
	text-align:center;
	margin:20 20px 0 0px;
	background:#A52A2A;
	width:310px;
	height: 50px;
	padding:5px;	
	color:white;
	font-weight: bold;
	border-radius:5px;
	
}






#usuario .qtd{
	margin-left:-100px;
	
}
#usuario .valor{
	margin-left:5px;
	
}
#usuario .cliente{
	margin-left:5px;
	
}
#usuario .dateF{
	margin-left:-130px;
	
}
#usuario .dateV{
	margin-left:5px;
	
}
#usuario .foto{
	margin-left:-160px;
	
}




#produto{
	margin-left: 5px;
	margin-top: 5px;
	background: #FFFFFF;
	width: 670px;
	height: 400px;
	border:2px solid #c0c0c0;
	border-radius:5px;
	margin-bottom: 430px;
	
}
#produto h1{
	padding:5px;	
	font-size:22px;
	text-align:left;
	font-weight: bold;	
	color:#1E90FF;
	font-family:Arial, Helvetica, sans-serif;
	
}

#produto form input{
	margin-bottom:5px;
	
}
#produto form label{
	margin-left:-100px;
	
}

#produto .campoObg{
	padding:5px;	
	font-size:18px;
	text-align:left;
	font-weight: bold;	
	color:#A52A2A;
	font-family:Arial, Helvetica, sans-serif;
	
}	


#produto .btncad  {
	font-family:Arial, Helvetica, sans-serif;
	font-size:25px;
	text-align:center;
	float:left;
	background:#1E90FF;
	width:310px;
	height: 50px;
	padding:5px;	
	color:white;
	font-weight: bold;
	border-radius:5px;
	
}
#produto .btnsair{
	font-family:Arial, Helvetica, sans-serif;
	font-size:25px;
	text-align:center;
	margin:20 20px 0 0px;
	background:#A52A2A;
	width:310px;
	height: 50px;
	padding:5px;	
	color:white;
	font-weight: bold;
	border-radius:5px;
	
}
#usuario .qtd{
	margin-left:-100px;
	
}
#usuario .valor{
	margin-left:5px;
	
}
#usuario .cliente{
	margin-left:5px;
	
}
#usuario .dateF{
	margin-left:-130px;
	
}
#usuario .dateV{
	margin-left:5px;
	
}
#usuario .foto{
	margin-left:-160px;
	
}




#produto{
	margin-left: 5px;
	margin-top: 5px;
	background: #FFFFFF;
	width: 670px;
	height: 400px;
	border:2px solid #c0c0c0;
	border-radius:5px;
	margin-bottom: 430px;
	
}
#produto h1{
	padding:5px;	
	font-size:22px;
	text-align:left;
	font-weight: bold;	
	color:#1E90FF;
	font-family:Arial, Helvetica, sans-serif;
	
}

#produto form input{
	margin-bottom:5px;
	
}
#produto form label{
	margin-left:-100px;
	
}

#produto .campoObg{
	padding:5px;	
	font-size:18px;
	text-align:left;
	font-weight: bold;	
	color:#A52A2A;
	font-family:Arial, Helvetica, sans-serif;
	
}	
#usuario .bairro{
	margin-left:-100px;	
	font-size:15px;
	
}	
	
#usuario .cpf{
	margin-left:0px;	
	font-size:15px;
	
}
#usuario .rg{
	margin-left:-160px;	
	font-size:15px;
	
}
#usuario .fone{
	margin-left:0px;	
	font-size:15px;
	
}
#usuario .mail{
	margin-left:-100px;
	
}
#usuario .cid{
	margin-left:5px;
	
}

#usuario .uf{
	margin-left:5px;
	
}
#usuario .date{
	margin-left:-100px;
	
}
#usuario .login{
	margin-left:5px;
	
}
#usuario .senha{
	margin-left:5px;
	
}
#produto .btncad  {
	font-family:Arial, Helvetica, sans-serif;
	font-size:25px;
	text-align:center;
	float:left;
	background:#1E90FF;
	width:310px;
	height: 50px;
	padding:5px;	
	color:white;
	font-weight: bold;
	border-radius:5px;
	
}
#produto .btnsair{
	font-family:Arial, Helvetica, sans-serif;
	font-size:25px;
	text-align:center;
	margin:20 20px 0 0px;
	background:#A52A2A;
	width:310px;
	height: 50px;
	padding:5px;	
	color:white;
	font-weight: bold;
	border-radius:5px;
	
}
#produto .qtd{
	margin-left:-150px;
	
}
#produto .valor{
	margin-left:5px;
	
}
#produto .cliente{
	margin-left:5px;
	
}
#produto .cliente1{
	margin-left:20px;
	
}
#produto .dateF{
	margin-left:-130px;
	
}
#produto .dateV{
	margin-left:5px;
	
}
#produto .info{
   
	margin-left:-440px;
	
}
#produto .info1{
   
	margin-left:-200px;
}
#produto .foto1{
  
	margin-left:0px;
}	
#produto .cat{
  
	margin-left:-60px;
}
#produto .foto2{
  
	margin-left:-150px;
}

#meus_Produto h1{
	padding:5px;	
	font-size:22px;
	text-align:left;
	font-weight: bold;	
	color:#1E90FF;
	font-family:Arial, Helvetica, sans-serif;
	
}
#meus_Produto h2{
    margin-left: 50px;
    font-size:22px;
    text-align:left;
	font-weight: bold;	
	color:#A52A2A;
	font-family:Arial, Helvetica, sans-serif;
}


#meus_Produto .lista li{
	display:inline;
		border-radius:5px;
			margin-top:5px;
		
}
#meus_Produto .lista ul{
	display:inline;
	border-radius:5px;

}
#meus_Produto .lista img{
   margin-bottom: 10px;
   border: 1px solid #8B4513;
   
}
#meus_Produto .lista a{
   margin-bottom: 30px;
}

#carrinhoCompra h1{
    float:left;
    padding:15px;	
	font-size:20px;
	text-align:justify;
	font-weight: bold;	
	color:#007FFF;
	font-family:Arial, Helvetica, sans-serif;
}

#carrinhoCompra #carrinhoImagem ul {
	
	margin:2px auto;
	padding:10px 0 10px 15px;
	list-style:none;
	border:0px;
    
}

#carrinhoCompra #carrinhoImagem li{
    position:relative;
    float:left;
    padding-top: 20px;
    margin-left: -150px;
    
}
#carrinhoCompra #carrinhoImagem .nomeProduto {
    width: 380px;
    height: 20px;
    padding:15px;	
	font-size:16px;
	text-align:center;
	margin-left:-40px;
	margin-top:0px;
	color:#A52A2A;
	font-family:Arial, Helvetica, sans-serif;
}



#carrinhoCompra #carrinhoImagem .valorProduto {
    
    padding:15px;	
	font-size:16px;
	text-align:center;
	margin-left:-290px;
	margin-top:90px;
	font-family:Arial, Helvetica, sans-serif;
}
#carrinhoCompra #carrinhoImagem .precoProduto {
    
    padding:15px;	
	font-size:14px;
	text-align:center;
	margin-left:-280px;
	margin-top:50px;
	font-family:Arial, Helvetica, sans-serif;
}
#carrinhoCompra #carrinhoImagem .qtdProduto {
    
    padding:15px;	
	font-size:14px;
	text-align:center;	
	margin-left:-200px;
    margin-top:50px;
	font-family:Arial, Helvetica, sans-serif;
}
#carrinhoCompra #carrinhoImagem .totalProduto {
    
    padding:15px;	
	font-size:14px;
	text-align:center;	
	margin-left:-90px;
	margin-top:50px;
	font-family:Arial, Helvetica, sans-serif;
}
#carrinhoCompra #carrinhoImagem .qtd_Produto {
    
    padding:15px;	
	font-size:14px;
	text-align:center;	
	margin-left:-230px;
	margin-top:90px;
	font-family:Arial, Helvetica, sans-serif;
}

#carrinhoCompra #carrinhoImagem .valorCompraProduto {
    
    padding:15px;	
	font-size:14px;
	text-align:center;	
	margin-left:-100px;
	margin-top:90px;
	font-family:Arial, Helvetica, sans-serif;
}

.finalizarCompra{
    padding: 5px;
    width: 150px;
    margin-top:130px;
}

.addLista{
    padding: 5px;
    margin-top:20px;
    width: 150px;
}


#listaProdutos h1{
    float:left;
    padding:5px;	
	font-size:20px;
	text-align:justify;
	font-weight: bold;	
	color:#007FFF;
	font-family:Arial, Helvetica, sans-serif;
}
#listaProdutos ul{
	margin-top:10px;
	padding:10px 10 10px 10px;
	list-style:none;
	text-align:justify;
    
}
#listaProdutos ul li{
	padding:10px 0 10px 10px;
	list-style:none;
	text-align:justify;
    border-top: 2px solid #007FFF;
    border-bottom: 2px solid #007FFF;
}
#listaProdutos p{
    text-align: justify;
    font-size:20px;
    padding: 5px;
}
